
.text-center{
    text-align: center;
    padding-right: 33cm;
}
body{
    color: darkgreen;
}
.signInButton{
    background-color: rgba(168, 166, 166, 0.884);
    color: darkgreen;
    border-color: darkgreen;
    width: 8cm;
    border-radius: 0;
    

}

.signInButton:hover{
background-color: darkgreen;
}